.artist_section {
  text-align: left;
  background: linear-gradient(to bottom, #282828, #040404);
  border-radius: 20px;
  padding: 20px 40px;
  color: #fff;
}

.img {
  border-radius: 20px;
  width: 100%;
}

.artist_info_header {
  margin-top: 2%;
}

.artist_info_header__title {
  color: #8b868f;
}

.artist_info_header__name {
  font-size: 3rem;
}

.artist_info_statistic p {
  font-size: 1.2rem;
}

.artist_info_statistic__item {
  margin-top: 3%;
}

.artist_info_statistic__info {
  color: #126422;
}

.artist_info_tours_tour__img {
  max-width: 5%;
}

.artist_info_tours_tour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6%;
  gap: 10px;
}

.artist_info_tours {
  font-size: 1.2rem;
}
